
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


/* ==================================================
   FUNDO
================================================== */

.fund {
  background-image: url("../images/fundo-neve.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;

}


/* ==================================================
   NAVBAR / MENU
================================================== */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 5px;
    margin-left: 8px;
    background-color: rgb(32, 132, 215);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1rem 2rem;
  position: relative;
  background-attachment: fixed;
}


/* ---------- LOGO ---------- */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.logo h1 {
  margin: 0;
  color: snow;
}


/* ---------- MENU ---------- */

.menu-toggle {
  display: none;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  transition: 0.3s ease;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu-list a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}


/* ==================================================
   TITULO
================================================== */

.section-titulo{
  background-color: snow;
  width: 100%;
  height: 200px;

}

.section-titulo {
  color: rgb(0, 18, 38);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}


/* ==================================================
   CARROSSEL
================================================== */

.sectionrol {
  display: flex;
  justify-content: center;
  align-items: center;
  background: snow;
  position: relative;
  gap: 20px;
  padding-bottom: 100px;
}


.carousel {
  width: 600px;
  height: 300px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel input {
  display: none;
}


/* ---------- SLIDES ---------- */

.slides {
  display: flex;
  width: 700%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slides img {
  width: 14.2857%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  border: 5px solid #cfcfcf;
  border-radius: 14px;
}


/* ---------- TROCA DAS IMAGENS ---------- */

#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-14.2857%);
}

#slide3:checked ~ .slides {
  transform: translateX(-28.5714%);
}

#slide4:checked ~ .slides {
  transform: translateX(-42.8571%);
}

#slide5:checked ~ .slides {
  transform: translateX(-57.1428%);
}

#slide6:checked ~ .slides {
  transform: translateX(-71.4285%);
}

#slide7:checked ~ .slides {
  transform: translateX(-85.7142%);
}


/* ---------- BOLINHAS ---------- */

.botoes {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 8px;
}

.botoes label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #aaa;
  cursor: pointer;
}


/* ---------- BOLINHA ATIVA ---------- */

#slide1:checked ~ .botoes label:nth-child(1),
#slide2:checked ~ .botoes label:nth-child(2),
#slide3:checked ~ .botoes label:nth-child(3),
#slide4:checked ~ .botoes label:nth-child(4),
#slide5:checked ~ .botoes label:nth-child(5),
#slide6:checked ~ .botoes label:nth-child(6),
#slide7:checked ~ .botoes label:nth-child(7) {
  background: #333;
}


/* ==================================================
   IMAGENS PEQUENAS DOS LADOS
================================================== */

.imagens-laterais {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagens-laterais img {
  width: 300px;
  height: 147px;
  object-fit: cover;
  border: 4px solid #cfcfcf;
  border-radius: 14px;
}

/* ==================================================
   FOOTER
================================================== */

.interface {
  max-width: 100%;
  margin: 0 auto;
}

footer {
  background-color: #000850;
  color: #fff;
  padding: 10px 0;
}


/* ---------- PRIMEIRA PARTE ---------- */

footer .linha-footer {
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.linha-footer h2 {
  font-size: 2.5rem;
}

.linha-footer p {
  font-size: 1.2rem;
  margin: 10px 0 20px 0;
}


/* ---------- FORMULÁRIO ---------- */

.linha-footer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linha-footer form input[type="email"] {
  width: 300px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  color: white;
  padding: 10px;
  outline: 0;
}

.linha-footer form input[type="submit"] {
  width: 80px;
  height: 40px;
  background-color: red;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}

.linha-footer form input[type="submit"]:hover {
  background-color: white;
  color: rgb(224, 43, 43);
}


/* ---------- SEGUNDA PARTE ---------- */

footer .linha-footer2 {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

.linha-footer2 h3 {
  color: red;
  margin-bottom: 20px;
}

.linha-footer2 a {
  color: white;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 0.9rem;
}


/* ---------- TERCEIRA PARTE ---------- */

footer .linha-footer3 {
  padding-top: 30px;
  text-align: center;
}


/* ==================================================
   TELA PARA CELULAR
================================================== */

@media (max-width: 768px) {

  /* ---------- CARROSSEL ---------- */

  .carousel {
    width: 100%;
    height: 300px;
  }

  .slides {
    width: 700%;
    height: 300px;
  }

  .slides img {
    width: 14.2857%;
    height: 300px;
    object-fit: cover;
    border: 5px solid #cfcfcf;
  }

  .botoes {
    bottom: 10px;
  }

  .botoes label {
    width: 11px;
    height: 11px;
  }


  /* ---------- IMAGENS PEQUENAS ---------- */

  .imagens-laterais {
    display: none;
  }


  /* ---------- MENU ---------- */

  .menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    background: #000850;
    padding: 1rem;
    gap: 15px;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
  }

  .menu-toggle:checked ~ .menu-list {
    display: flex;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .menu-icon span {
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s ease;
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
 
  nav a{
    border: none;
    background-color: transparent;
  }
  
  /* ---------- FOOTER ---------- */

  footer {
    padding: 25px 15px;
  }

  .linha-footer h2 {
    font-size: 1.7rem;
  }

  .linha-footer p {
    font-size: 1rem;
  }

  .linha-footer form {
    flex-direction: column;
    gap: 10px;
  }

  .linha-footer form input[type="email"] {
    width: 100%;
    max-width: 350px;
  }

  footer .linha-footer2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}


/* ==================================================
   TELA DE PC
================================================== */

@media (min-width: 769px) {

  .menu-icon {
    display: none;
  }

}