body{
    background: #282828;
    margin:15px;
}

li{
    display: flex;
    display: inline;
    padding: 30px;
}

p{
    color:rgb(255, 255, 255);
}

.corDestaque{
    color:#eb36e2;
}

header {
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-color: rgb(96, 25, 189);
}

nav {
    flex: 1;
    padding: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin: 0px;
    padding: auto;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    font-size: 24px
}

a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 40px;
    color:  rgb(255, 255, 255);
}

h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
}

.migrar{
    display: flex;
    justify-content: center;
    gap: 50px;
    border-bottom: 2px solid rgb(96, 25, 189);;
    padding: 0px;
}

.section2{
    width: 40%;
    float: left;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 5%;
}

.imgLinux{
    width: 300px;
    height: 300px;
}

.section3{
    width: 300px;
    float: left;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: aliceblue;
    padding: 10px;
}

.imgDistro{
    width: 800px;
    height: 500px;
}

.section4{
    width: 800px;
    float: center;
    margin-left: 17%;
    margin-right: 0%;
    margin-top: 5%;
    background-color: rgb(96, 25, 189);
    padding: 10px;
}

.section5{
    width: 50%;
    float: center;
    margin-left: 25%;
    margin-right: 0%;
    margin-top: 4%;
    text-align: center;
}
