body{
font-family: Arial, Helvetica, sans-serif;
background: #dcfe15;
}

#titulo{
    color: #ff0303;
    text-align: center;
}

nav{
    background-color: rgb(25, 25, 20);
    padding-top: 5px;
    padding-bottom: 5px;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;

}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffd503;
    text-decoration: none;
}

a:hover{
    color: #fff;
    background-color: rgb(144, 181, 25);
}

p{
    color: #1a0472;
    font-weight: 700;
}